li { list-style-type: square; }
#cena { color: red; font-weight: bold; }
.wstęp { font-style: italic; }
td > img { border-style: solid; border-color: blue; }
td > img:hover { border-color: red; }
h1 + h2 { letter-spacing: 5px;}
table[colspan="2"] { font-size: small; }
p + p { color: gray}
body { background-image: url(https://s.lubimyczytac.pl/upload/books/4975000/4975957/914552-352x500.jpg); background-repeat: repeat-y;}
h1 { color: blue}
h1 { color: green}
/*została zastosowana reguła druga*/
